body{
    margin: 0;
    font-family:sans-serif;
    color: #333;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #febe70;
}

nav a{
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}

.hero{
    height:  60vh;
    background: url("")center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #febe70;
    font-size: 28px;
}

.section{
    padding: 60px 20px;
    text-align: center;
}

.menu-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    background: #fff;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

footer{
    text-align: center;
    padding: 20px;
    background: #f8f4ef;
    font-size: 14px;
}
